* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


#column h1{
    color: #001329;
    padding: 30px 0px;
    font-family: "Open Sans", sans-serif;
}

#column {
    text-align: center;
    padding-bottom: 6.2rem;
}

#formSection {
    background-color: #466385;
}

input {
    border: 0px;
    border-radius: 11px;
    box-shadow: 2px 4px 10px #0013299d;
    height: 2.5rem;
    width: 20rem;
    margin: 0.45rem 0rem;
    padding-left: 0.4rem;
}

button {
    margin-top: 3rem;
    padding: 10px 80px 10px 80px;
    border-radius: 30px;
    border: 0px;
    box-shadow: 2px 4px 10px #0013299d;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s
}

button:hover {
 background-color: #001329;
 color: #A7B927;
 font-weight: 800;
 transition: 0.5s;
}
