.formHospital {
    text-align: center;
    background-color: #466385;
    padding-bottom: 2%;
}

.formHospital h1 {
    font-size: 40px;
    padding-top: 50px;
    margin: 0;
}

button {
    width: 15%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 20px;
    background-color: #f0f0f0;
    margin-top: 2%;
}
